<a routerLink="/" class="icon-link icon--adjust"><fa-icon [icon]="faTimes"></fa-icon></a>
<div class="wrapper">
  <div class="box box--1">
    <ng-container *ngIf="data[0]; else addNew1">
      <button class="icon-link icon--left icon--small" (click)="updateData(data[0])"><fa-icon [icon]="faSave"></fa-icon></button>
      <button *ngIf="!data[1]" class="icon-link icon--small" (click)="deleteData()"><fa-icon [icon]="faTimes"></fa-icon></button>
      <div class="input input--label">
        <input [(ngModel)]="data[0].label">
        <label>Label</label>
      </div>
      <div class="input input--unit">
        <input [(ngModel)]="data[0].unit">
        <label>Einheit</label>
      </div>
      <div class="input input--highest">
        <input [(ngModel)]="data[0].highestValue">
        <label>Höchstwert</label>
      </div>
    </ng-container>
    <ng-template #addNew1>
      <button class="button button--fill" (click)="newData()"><fa-icon [icon]="faPlus"></fa-icon></button>
    </ng-template>
  </div>
  <div *ngIf="data[0] || data[1]" class="box box--2">
    <ng-container *ngIf="data[1]; else addNew2">
      <button class="icon-link icon--left icon--small" (click)="updateData(data[1])"><fa-icon [icon]="faSave"></fa-icon></button>
      <button *ngIf="!data[2]" class="icon-link icon--small" (click)="deleteData()"><fa-icon [icon]="faTimes"></fa-icon></button>
      <div class="input input--label">
        <input [(ngModel)]="data[1].label">
        <label>Label</label>
      </div>
      <div class="input input--unit">
        <input [(ngModel)]="data[1].unit">
        <label>Einheit</label>
      </div>
      <div class="input input--highest">
        <input [(ngModel)]="data[1].highestValue">
        <label>Höchstwert</label>
      </div>
    </ng-container>
    <ng-template #addNew2>
      <button *ngIf="data[0]" class="button button--fill" (click)="newData()"><fa-icon [icon]="faPlus"></fa-icon></button>
    </ng-template>
  </div>
  <div *ngIf="data[1] || data[2]" class="box box--3">
    <ng-container *ngIf="data[2]; else addNew3">
      <button class="icon-link icon--left icon--small" (click)="updateData(data[2])"><fa-icon [icon]="faSave"></fa-icon></button>
      <button class="icon-link icon--small" (click)="deleteData()"><fa-icon [icon]="faTimes"></fa-icon></button>
      <div class="input input--label">
        <input [(ngModel)]="data[2].label">
        <label>Label</label>
      </div>
      <div class="input input--unit">
        <input [(ngModel)]="data[2].unit">
        <label>Einheit</label>
      </div>
      <div class="input input--highest">
        <input [(ngModel)]="data[2].highestValue">
        <label>Höchstwert</label>
      </div>
    </ng-container>
    <ng-template #addNew3>
      <button *ngIf="data[1]" class="button button--fill" (click)="newData()"><fa-icon [icon]="faPlus"></fa-icon></button>
    </ng-template>
  </div>
</div>